<div class="users">
    <div class="row">
        <div class="col-md-2 col-sm-2 users-tab"></div>
    <div class="col-md-8 col-sm-8 users-tab box-border animate__animated animate__zoomIn ">
      
        <h5 class="text-center">List Of All Users</h5><hr>
        <input type="text" class="form-control" name="searchText" [(ngModel)]="searchText" placeholder="Enter Search text"  autofocus>
        <hr>

        <div *ngIf="allFriends.length>0">
            <div *ngFor="let each of allFriends| filter:searchText" class="row box">
                <div class="detail col-md-9 col-sm-9" [routerLink]="['/profile',each.userId]"><span class="material-icons">radio_button_checked</span>{{each.firstName|uppercase}}&nbsp;{{each.lastName|uppercase}}<br><p class="email">{{each.email}}</p></div>
                <div class="button col-md-3 col-sm-3"><a class="btn btn-dark" on-click="unfriend(each.userId)">Unfriend</a></div>
            </div>
        </div>


        <div *ngIf="allRequests.length>0">
            <div *ngFor="let each of allRequests| filter:searchText" class="row box">
                <div class="detail col-md-9 col-sm-9" [routerLink]="['/profile',each.userId]"><span class="material-icons">radio_button_checked</span>{{each.firstName|uppercase}}&nbsp;{{each.lastName|uppercase}}<br><p class="email">{{each.email}}</p></div>
                <div class="button col-md-3 col-sm-3"><a class="btn btn-dark" on-click="acceptRequest(each.userId,each.userName)">Add Friend</a></div>
            </div>
        </div>



        <div *ngIf="sendRequests.length>0">
            <div *ngFor="let each of sendRequests| filter:searchText" class="row box">
                <div class="detail col-md-9 col-sm-9" [routerLink]="['/profile',each.userId]"><span class="material-icons">radio_button_checked</span>{{each.firstName|uppercase}}&nbsp;{{each.lastName|uppercase}}<br><p class="email">{{each.email}}</p></div>
                <div class="button col-md-3 col-sm-3"><a class="btn btn-dark" on-click="removeRequest(each.userId)">Remove Request</a></div>
            </div>
        </div>

        <div *ngIf="allUsers.length>0">
            <div *ngFor="let each of allUsers| filter:searchText" class="row box">
                <div class="detail col-md-9 col-sm-9" [routerLink]="['/profile',each.userId]"><span class="material-icons">radio_button_checked</span>{{each.firstName|uppercase}}&nbsp;{{each.lastName|uppercase}}<br><p class="email">{{each.email}}</p></div>
                <div class="button col-md-3 col-sm-3"><a class="btn btn-dark" on-click="sendRequest(each.userId)">Add Friend</a></div>
            </div>
        </div>

    </div>
    <div class="col-md-2 col-sm-2 users-tab"></div>

    </div>
    <br><br>
    <div class="row text-center view-button">
        <a  class="btn box-border col-md-2 col-sm-2 viewB" on-click="goBack()">Go Back</a>
    </div>
    
    </div>