:host /deep/ angular-editor #insertImage-desc ,:host /deep/ angular-editor #insertVideo-desc,:host /deep/ angular-editor #link-desc,:host /deep/ angular-editor #unlink-desc{
    display: none;
}
.dashboard{
    overflow: hidden;
}

.options{
    margin-left:1%;
    margin-right:1%;
}


#createTask,#allTask,#friends,#requests{
    margin-top:3%;
}
.label{
    background-color: lightgray;
}
.friendTable{
    background-color:whitesmoke;
    border:0.1rem solid black;
    margin-top:3%;
    padding:2%
}
.box{
    text-align: justify;
    border-bottom: 0.1rem solid lightgrey;
    padding:2%
}
ul {
    display: block;
    list-style-type: square;
    text-align: left;
}

td{
    padding:2%
}
.tabs{
    background-color: black;
    color:whitesmoke;
    padding: 1%;
    font-weight: bolder;
    font-style: oblique;
    font-size: larger;
    border: 0.1rem solid whitesmoke;
    box-shadow: unset;
}

a:hover{
    background:grey;
}

.material-icons{
    margin-right: 2%;
}
 button.button{
     margin-left: 30%;
 }


@media screen and (max-width:575px){
    button.tabs{
        margin-bottom:2%;
    }
    div.part{
        margin-left:1%;
        margin-right:1%
    }


}
