<div class="Screen"></div>
<nav class="navbar navbar-expand-lg" >
  <div><a class="navbar-brand" [routerLink]="['/dashboard']"><img class="logo" src="../assets/images/logo.png"></a></div>
  <div *ngIf="router.url!='/signup' && router.url!='/forgot'&& router.url!='/login' && router.url!='/'" class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-dark"
            aria-controls="dropdown-basic"><span class="material-icons list">reorder</span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" on-click="GoToProfile()">My Profile</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/dashboard']">My Dashboard</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/allTasks']">All Tasks</a></li>
      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/allUsers']">All Users</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" on-click=(openModal(log_out))>Logout</a>
        <ng-template #log_out>
          <div class="modal-body text-center">
            <p>Do you want to logout ?</p>
            <button class="btn btn-dark mod-button" (click)="logout()" >Yes</button>
            <button class="btn btn-dark mod-button" on-click="decline()">No</button>
          </div>
        </ng-template>
      </li>
    </ul>
</div>
<div *ngIf="router.url=='/login' || router.url=='/'" class="forgot"><button class="btn btn-dark" [routerLink]="['/forgot']">Forgot Password?</button></div>
</nav>
<router-outlet></router-outlet>