<div class="box"><div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 box-border text-center">
        <!-- Error 404 page -->
        <img class="image" src="../../../assets/images/error404.png">
        <h1>404 ERROR !</h1>
        <h2> </h2>
        <h3>Requested Page Not Found</h3>
        <h2> </h2>
        <h3>This could be because of the following reasons</h3>
        <ul class="text-left">
            <li>The Task that you are trying to find does not exist in our tracker.</li><br>
            <li>The task might have been deleted by a user.</li><br>
            <li>The user does not exist.</li><br>
            <li>The user does not have the authority.</li><br>
            <li>The requested page is not a part of our portal.</li><br>
        </ul>
        <a class="btn btn-dark" [routerLink]="['/dashboard']">Go Back To Home Page</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3"></div>

</div>
</div>