.text-center{
    margin-top:4%;
    margin-bottom:4%;
}

.forgotPage{
    overflow: hidden;
}

.forgotForm{
    margin:15% 16.6% 0% 16.6%;
}

.forgotText{
    font-size-adjust: inherit;
    font-weight: bolder;
}

@media screen and (max-width:767px){
    img.forgot{
        width:80%;
        height:100%
    }
    
}

@media screen and (max-width:575px){
    img.forgot{
        width:70%;
        height:90%
    }

    .forgotForm{
        margin:2%;
    }
    
}