<div class="forgotPage"><div class="row">
    <div class="col-md-6 col-sm-6 text-center">
        <img class="box-border p-0 forgot animate__animated animate__backInLeft" src="../assets/images/forgot.jpg">
      </div>
    <div class="col-md-6 col-sm-6 text-center">
        <div class="col-md-8 forgotForm">
            <form class="box-border  animate__animated animate__backInRight">    
              <label for="inputEmail" class="sr-only">Email address</label>
              <p class="forgotText">Enter Your Registered Email To Recover The Account</p>
              <br>
              <input type="email" name="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Enter Email address ..." required autofocus>
              <br>
              <button class="btn btn-dark" on-click="recoverAccount()">Recover Account</button>
              </form> 
          </div>
          <br>
          <br>
          <button class="btn btn-dark animate__animated animate__backInRight" [routerLink]="['/login']">Go To Login Page</button>
    </div>
  </div>
  </div>
  